.kontakt {
    background-color: rgba(255, 255, 255, 0.8);
}

.kontakt strong {
    font-size: 1.5rem;
    color: #7768AE;
}

.background {
    background-image: url("../img/Dom.jpg")!important;
    background-size: cover;
    background-position: left top!important;
    width: 100%;
    opacity: 0.4;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

.socket {
    position: absolute;
    width: 100%;
    bottom: 0;
}

.jumbotron {
    transform: translateY(50%)!important;
    z-index: 1000;
    position: relative;
}