  *,
  *:before,
  *:after {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
  }
  
  body {
      overflow-x: hidden;
      margin: 0;
      font-family: 'roboto', sans-serif;
  }
  
  a {
      text-decoration: none!important;
  }
  
  a:hover {
      color: #7768AE!important;
  }
  
  p {
      font-size: 1.25rem!important;
      font-weight: 200;
  }
  
  .banner {
      background-color: white!important;
       background-repeat: no-repeat!important;
      background-attachment: scroll!important;
      background-position: center!important;
      z-index: auto;
      background-size: cover!important;
      -webkit-background-size: cover!important;
      -moz-background-size: cover!important;
      -o-background-size: cover!important;
  }
  
  .banner {
      background-color: #fff;
      display: flex;
      height: 50vh;
      overflow: hidden;
      position: relative;
  }
  
  .header {
      display: inline-block;
      font-size: 2.8rem!important;
      color: #7768AE;
      font-weight: 300;
      letter-spacing: .1rem;
      text-shadow: 1px 1px white!important;
      margin: 0 auto;
      padding: 0 0.8rem;
      background-color: rgba(255, 255, 255, .5);
  }
  
  .header-quote {
      font-size: 2rem!important;
  }
  
  .header-sub {
      display: block;
      font-size: 0.6em;
      margin: 0;
      position: relative;
      top: -0.5em;
      padding: 0!important;
  }
  
  h2 {
      font-size: 1.5rem!important;
      color: #7768AE;
  }
  
  h3 {
      font-size: 1.25rem!important;
  }
  
  .faq {
      font-weight: 400;
      color: #1b1b1b!important;
      background-color: rgb(236, 236, 236);
      padding: 0.5rem 1.5rem!important;
      margin-bottom: 0.5rem;
      font-size: 1.5em;
      display: inline-block;
  }
  
  .blockquote-footer {
      color: #7768AE!important;
      margin-top: 0.2rem!important;
  }
  
  .btn-custom {
      display: inline-block;
      padding: 0.5rem 1.5rem;
      background-color: white!important;
      color: #1b1b1b!important;
      font-weight: 400;
      border: 1px solid #e5c500!important;
      float: right;
      border-radius: 0!important;
  }
  
  .btn-custom:hover {
      background-color: #e5c500!important;
      color: white!important;
      border: 1px solid #e5c500;
  }
  
  .jumbotron {
      margin-top: 3rem!important;
      margin: 0 auto;
      background: rgb(236, 236, 236);
      padding: 0.5rem 1.5rem!important;
  }
  
  
  .navbar {
      background-color: white!important;
      padding: 0;
      border-top: 1px solid #7768AE;
      border-bottom: 1px solid #7768AE;
  }
  
  .navbar-nav {
      margin-bottom: -1px!important;
  }
  
  .nav-link {
      color: #7768AE!important;
      padding: 0.5rem 1.5rem!important;
      text-transform: uppercase;
      font-weight: 200;
      letter-spacing: .12rem;
      font-size: 1.2rem;
      text-shadow: .05rem .05rem .05rem rgba(0, 0, 0, .15);
      /* margin-right: 0.8rem; */
  }
  
  .nav-link.active,
  .nav-link:hover {
      color: white!important;
      background-color: #7768AE;
  }
  /* Horizontal RUle */
  
  .logo {
      position: absolute;
      left: 50%;
      top: 50%;
      margin-left: -50px;
      margin-top: -50px;
      height: 100px;
      width: 100px;
      background: #fff url("../img/QuestionSymbol.svg");
  }
  
  .line {
      position: relative;
      overflow: visible;
      height: 1px;
      background-color: #ddd;
      border: 1px solid #ddd;
      margin: 3rem 0;
  }
  /*=== FOOTER ===*/
  
  .disclaimer {
      background-color: #fff;
  }
  
  .socket a,
  .socket p {
      color: white;
      font-size: 0.8rem;
  }
  /*=== SOCKET ===*/
  
  .socket {
      background-color: #1b1b1b;
      text-align: center;
  }
  /* Devices under 1199px (xl) */
  
  @media (max-width: 1199.98px) {}
  /* Devices under 992px (xl) */
  
  @media (max-width: 991.98px) {}
  /* Devices under 768px (md) */
  
@media (max-width: 767.98px) {
      p {
          font-size: 1rem!important;
      }
      .faq {
          display: block;
          font-size: 1rem;
          text-align: center;
      }
      .header {
          font-size: 1.5rem!important;
          /* width: 70%; */
          padding: 0 0.5rem;
          font-weight: 400!important;
      }
      h2 {
          font-size: 1rem!important;
      }
      h3 {
          font-size: 1rem!important;
      }
      .header-sub {
          font-size: 0.6em;
          top: -0.2em;
      }
      .banner {
          height: 200px;
          background-position-x: 65%!important;
      }
      .carousel-caption {
          bottom: 0.3rem!important;
          padding-top: 0rem!important;
          padding-bottom: 0!important;
      }
      .blockquote {
          padding: 0!important;
          padding-top: 3rem!important;
      }
      .header-quote {
          font-size: 1rem!important;
          font-weight: 300;
      }
  }
  
  .row,
  .container-fluid {
      margin-left: 0px !important;
      margin-right: 0px !important;
  }
